
body {
    background: rgb(255, 113, 113);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: arial;
}
#all-contents {
    max-width: 800px;
    margin: auto;
}

#search {
  background: rgb(255, 75, 75);
  margin-left: 33%;
  padding-left: 20px;
  margin-right: 35%;
  border-radius: 40px;
}

#side {
  display: flex;
}

#side-2 {
  display: flex;
}

#tmtd {
  background: rgb(255, 75, 75);
  margin-bottom: 100px;
  width: 300px;
  height: 350px;
  border-radius: 40px;
  margin-left: 25px;

}

.tmtdt {
  padding-left: 35px;
}

.tmtdi {
  border-radius: 40px;
}

#WebR {
  background: rgb(255, 75, 75);
  margin-bottom: 100px;
  width: 300px;
  height: 350px;
  border-radius: 40px;
  margin-left: 50px;
}

.WebRt {
  padding-left: 95px;
}

.WebRi {
  border-radius: 40px;
}

#ADOFAI {
  background: rgb(255, 75, 75);
  margin-bottom: 100px;
  width: 300px;
  height: 350px;
  border-radius: 40px;
  margin-left: 25px;
}

.ADOFAIt {
  padding-left: 20px;
}

.ADOFAIi {
  border-radius: 40px;
}

#Rts {
  background: rgb(255, 75, 75);
  margin-bottom: 100px;
  width: 300px;
  height: 350px;
  border-radius: 40px;
  margin-left: 50px;
}

.Rtst {
  padding-left: 55px;
}

.Rtsi {
  border-radius: 40px;
}

#CL {
  background: rgb(255, 75, 75);
  margin-bottom: 100px;
  width: 300px;
  height: 350px;
  border-radius: 40px;
  margin-left: 50px;
}

.CLt {
  padding-left: 70px;
}

.CLi {
  border-radius: 40px;
}

#Mario {
  background: rgb(255, 75, 75);
  margin-bottom: 100px;
  width: 300px;
  height: 350px;
  border-radius: 40px;
  margin-left: 50px;
}

.Mot {
  padding-left: 120px;
}

.Moi {
  border-radius: 40px;
}

#Super-M {
  background: rgb(255, 75, 75);
  margin-bottom: 100px;
  width: 300px;
  height: 350px;
  border-radius: 40px;
  margin-left: 50px;
}

.SMt {
  padding-left: 85px;
}

.SMi {
  border-radius: 40px;
}

#RB {
  background: rgb(255, 75, 75);
  margin-bottom: 100px;
  width: 300px;
  height: 350px;
  border-radius: 40px;
  margin-left: 50px;
}

.RBt {
  padding-left: 85px;
}

.RBi {
  border-radius: 40px;
}

/* navigation menu */
nav {
    background: rgb(255, 75, 75);
    border-radius: 40px 0px;
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #7c4200;
}

/* main container area beneath menu */
main {
    background: rgb(255, 75, 75);
    border-radius: 40px 0px;;
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 20px;
}
.sidebar-img {
    width: 200px;
    border-radius: 40px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px rgb(255, 255, 255) ridge;
    border-radius: 40px;
    padding: 8%;
}
h2, h3 {
    margin: 0px;
}

 /* portfolio styles */
 .content h1 {
    color: rgb(255, 255, 255);
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

.site-info-holder {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 30px;
  margin-left: -30px;
  margin-right: -30px;
  background: rgb(255, 75, 75);
  border-radius: 40px;
}

.site-info-title {
  display: flex;
  margin-left: 100px;
}

.site-info {
  display: flex;
  padding-left: 30px;
  font-size: 18px;
}

.video-holder {
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  background: rgb(255, 75, 75);
  border-radius: 40px 0px;
}

iframe {
  max-width: 80%;
  margin-left: 50px;
  margin-top: 15px;
  border-radius: 40px 0px;
}

.video-info {
  flex-basis: 200px;
}

#portfolio li {
    background: rgb(255, 85, 85);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: rgb(255, 95, 95);
}

#portfolio a {
    text-decoration: none;
    color: #ffffff;
}
@media screen and (min-width: 120px) and (max-width: 1080px) {
    main {
      height: 100ch;
      zoom: 1.5;
      display: grid;
    }

    h1 {
      font-size: 44px;
    }

    h2 {
      font-size: 42px;
    }

    h3 {
      font-size: 36px;
    }

    #all-contents {
      height: 100ch;
      margin: none;
    }

    a {
      font-size: 42px;
    }

    .sidebar {
      margin-right: 0px;
      justify-content: center;
      align-items: center;
    }

    .sidebar-img {
      width: 100%;
    }

    p,
    li {
      font-size: 24px;
    }

    .content {
      align-content: center;
      justify-content: center;
    }



}