
body {
    background: rgb(255, 113, 113);
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family: arial;
}
#all-contents {
    max-width: 800px;
    margin: auto;
}

.Button {
  margin-left: 90%;
  border: 2px solid rgb(255, 75, 75);
  border-radius: 40px;
  background: rgb(255, 75, 75);
}

.Button:hover {
  border-radius: 10px;
  border-color: black;
}

.Mario {
  height: 600px;
  width: 100%;
  border-radius: 40px;
}

/* navigation menu */
nav {
  background: rgb(255, 75, 75);
  border-radius: 40px 0px;
 margin: 0 auto;
 margin-bottom: 20px;
  display: flex;
  padding: 10px;
}
h1 {
  display: flex;
  align-items: center;
  color: white;
  flex: 1;
  margin: 0;
}
#nav-ul {
  list-style-image: none;
}
.nav-li {
  display: inline-block;
  padding: 0 10px;
}

#nav-ul2 {
list-style-image: none;
display: inline-block;
}
.nav-li2 {
display: inline-block;
padding-top: 50px;
margin-bottom: 20px;
}

#hover:hover {
color: white;
border-radius: 50px;
border-color: white;
transition: all 0.3s ease 0s;
}

.nav-text {
border: 5px solid rgb(255, 150, 150);
color: rgb(255, 150, 150);
font-weight: 600;
font-size: 20px;
padding: 10px;
border-radius: 10px;
}

a {
  text-decoration: none;
  color: #7c4200;
}

/* main container area beneath menu */
main {
  background: rgb(255, 75, 75);
  border-radius: 40px 0px;;
  display: flex;
}
.sidebar {
  margin-right: 25px;
  padding: 20px;
}
.sidebar-img {
  width: 200px;
  border-radius: 40px;
}
.content {
  flex: 1;
  padding: 15px;
}

/* portfolio styles */
#interests {
  border: 4px rgb(255, 255, 255) ridge;
  border-radius: 40px;
  padding: 8%;
}
h2, h3 {
  margin: 0px;
}

/* portfolio styles */
.content h1 {
  color: rgb(255, 255, 255);
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

.site-info-holder {
padding-bottom: 10px;
padding-top: 10px;
padding-right: 10px;
padding-left: 10px;
margin-top: 30px;
margin-left: -30px;
margin-right: -30px;
background: rgb(255, 75, 75);
border-radius: 40px;
}

.site-info-title {
display: flex;
margin-left: 100px;
}

.site-info {
display: flex;
padding-left: 30px;
font-size: 18px;
}

.video-holder {
display: flex;
margin-top: 30px;
margin-bottom: 30px;
padding-top: 20px;
padding-left: 20px;
padding-bottom: 20px;
background: rgb(255, 75, 75);
border-radius: 40px 0px;
}

#update-channel {
background: rgb(255, 75, 75);
border: 2px solid rgb(255, 75, 75);
border-radius: 40px 0px;
}

#update {
padding-bottom: 10px;
}

.video {
max-width: 80%;
margin-left: 50px;
margin-top: 15px;
border-radius: 40px 0px;
}

.video-info {
flex-basis: 200px;
}

#portfolio li {
  background: rgb(255, 85, 85);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#portfolio li:hover {
  background: rgb(255, 95, 95);
}

#portfolio a {
  text-decoration: none;
  color: #ffffff;
}
@media screen and (min-width: 120px) and (max-width: 1080px) {
  main {
    height: 100ch;
    zoom: 1.5;
    display: grid;
  }

  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 42px;
  }

  h3 {
    font-size: 36px;
  }

  #all-contents {
    height: 100ch;
    margin: none;
  }

  a {
    font-size: 42px;
  }

  .sidebar {
    margin-right: 0px;
    justify-content: center;
    align-items: center;
  }

  .sidebar-img {
    width: 100%;
  }

  p,
  li {
    font-size: 24px;
  }

  .content {
    align-content: center;
    justify-content: center;
  }



}